[submodule "cookbooks/php"]
	path = cookbooks/php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/zeromq"]
	path = cookbooks/zeromq
	url = git://github.com/pyronicide/zeromq-cookbook.git
